.imageWrapper {
  width: 70px;
  height: 70px;
  border-radius: 200px;
}

.card {
  display: flex;
  align-items: center;
}

.stack {
  display: flex;
  flex: 1;
  & div {
    margin-top: 0!important;
  }
}

.iconCard {
  width: 70px!important;
  height: 70px;
  border-radius: 50px!important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profitButton {
  &:first-of-type, &:last-of-type {
    margin: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  &:first-of-type {
    border-bottom-right-radius: 0;
    display: flex;
    flex: 1;
  }
  &:last-of-type {
    border-bottom-left-radius: 0;
  }
}

.iconAmountStack {
  margin-right: 2rem
}

.lockedCard {
  user-select: none;
  filter: blur(1.5px) grayscale(70%);
}

.toBuyCard {
    user-select: none;
    filter: blur(1.5px) grayscale(70%);
    position: relative;
}

.someWrapper {
  position: relative;
  user-select: none;
  pointer-events: all;
}

.centeredText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10000000;
}