//noinspection CssUnknownTarget
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

.mainGameCard {
  width: 90%;
  min-height: 70vh;
  margin-top: 4rem;
  padding-bottom: 2rem;
}

.gameWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2rem;
}

.cardBody {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headerModule {
  display: flex;
  justify-content: space-between;
  min-width: 700px;
  margin-bottom: 4rem;
}

.moneyDisplay {
  width: 200px;
  &:last-of-type {
    text-align: end;
  }
}

.transferVertilizer {

}

.profitGainers {
  width: 80%;
}

.modalText {
  margin-top: 1rem!important;
  margin-bottom: 2rem!important;
}